.sidebar {
  width: 250px;
  background: #000;
  color: white;
  position: fixed;
  top: 75px;
  left: -250px; /* hidden by default */
  height: 100vh;
  transition: 0.35s ease;
}

/* Only appear when open */
.layout-wrap.open .sidebar {
  left: 0;
}
